@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.mainContent {
    display: grid;
    grid-template-rows: auto 1fr;
}

.boxContent {
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
}

